
*, *::before, *::after {
 box-sizing: border-box;
 font-family: Poppins;
}
body{ 
    margin:0; 
}

:root{
    --orange-flybondi:#f7b914;
    --lightOrange-flybondi:#fed156;
    --nav-btn-hover:
    #999;
}
  
  ::-webkit-scrollbar {
    background-color: #555;
    width: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background-color: #b7b7b7;
    border: 3.5px solid #555;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
    box-shadow: 2px 2px 10px 1px  #3333333b;
    z-index: 99;
    width: 100%;
    height: 3.5em;
    top: 0px;
    left: 0px;
    padding-inline:2em;
  }
  
  #logoFlybondi{
    width: 150px;
  }

  /* Nav */
  #nav-ctn{

    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-btn{
    color: #666;
    text-decoration: none;
    transition: 0.2s;
    font-weight: 400;
  }
  .nav-btn:hover{
    color: var( --nav-btn-hover);
  }

  #nav-select{
    padding: 0.2em 1em;
    font-size: 15px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 8px;
  }

  #nav-select:focus-visible{
    border: 1px solid var(--orange-flybondi);
  }

/* -------------------Banner-------------------  */
.banner-ctn{
  width: 300px;
  object-fit: contain;
}
.banner-ctn img{

  object-fit: contain;
}

/* -------------------searchBar-------------------  */

#searchBar-ctn{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 300px;
  margin-inline: 5%;
}
#banner-ctn {

}
#banner-ctn img{
width: 100%;
padding-top: 50px;
object-fit: contain;
object-position: center;
}

#seachBar-top-ctn{
  position: absolute;
  top: -99px;
  z-index: 99;
  background-color: #4f2d074f;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
}

#seachBar-top-ctn button{
border-right: 0px;
border-bottom: 0px;
border-top: 0px;
padding: 0.6em 2em;
font-size: 17px;
cursor: pointer;
}

#vuelos{
  z-index: 99;
  border-top-left-radius: 20px;
  border-bottom: 0px;
  border-top: 0px;

  border: 12px solid var(--orange-flybondi);
  background-color: 
  #f7f7f7;
  color: var(--orange-flybondi);
  font-weight: 500;
}

#ultraPases{
  z-index: 99;
  border-top-right-radius: 20px;
  background-color: #e3e3e3;
  border-left: 0px;
  margin: -5px;
  color: #777;

}

#vuelos:hover{
background-color: #f1f1f1;
}

#ultraPases:hover{
  background-color: #f1f1f1;
}

#searchBar{
  display: flex;
  justify-content: left;
background-color: #f7f7f7;
  box-shadow: 1px 3px 20px 1px #b7b7b7  ;
  height: 120px;
  width: 100%;
  border-radius: 0px 0px 20px 20px ;
  position: absolute;
 border-left: 12px solid var(--orange-flybondi);
 border-top: 6px solid var(--orange-flybondi);
}


#searchBar label{
  text-transform: uppercase;
  font-weight: 600;
  color: 
  #6d6e8a;
  font-size: 14px;
width: 100%;

}

.searchBar-select-main-ctn{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-direction: row;

  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  padding-left: 20px;
  padding-right: 20px;
}


.searchBar-select-ctn{
  gap: 20px;
  min-width: 180px;
  width: 100%;
  position: relative;
  }

.searchBar-logo-select{
position: absolute;
bottom: 8px;
width: 25px;
left: 10px;
fill: orange;
  }
  #svg-logo-pasajero{
top: 4px;
  }

.searchBar-select{
padding: 13px 40px;
  font-size: 17px;
  border-radius: 5px;
  width:100%;
  border: 1px solid rgb(210, 210, 210);
cursor: pointer;
color: #444;
}

.searchBar-ctn-btn{
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  padding-right: 20px;
}

.searchBar-btn{
background-color: var(--orange-flybondi);
border: 0;
bottom: 0px;
border-radius: 50px;
padding: 10px 0px;
font-size: 17px;
font-weight: 600;
width: 100%;
text-align: center;
color: #444;
cursor: pointer;
transition: 0.2s;
box-shadow: 5px 7px 10px 0.5px  rgb(196, 196, 196);
margin-top: 24px;
}



.btn-flybondi:hover{
  background-color: var(--lightOrange-flybondi);
}




/* -------------------FOOTER-------------------  */

#footer{
    width: 100%;
    height: 100%;
   padding-bottom: 2em;
    background-color: #222;
}

#footer-ctn{
   padding:2em 2em 0em 2em;
   display: flex;
   color: white;
   flex-wrap: wrap;
   row-gap: 50px;
}
#footer-somos-ctn{
max-width: 500px;
min-width: 300px;
display: flex;
align-items: center;
flex-direction: column;
justify-content: flex-start;
}
#footer-somos-title{
font-weight: 400;
font-size: 25px;
width: 100%;
margin: 0;
text-align: left;
}
#footer-somos-btn{
color: #b3b3b3;
text-decoration: none;
outline: 2px solid #b3b3b3;
padding: 0.5em 1em;
border-radius: 20px;
width: 100%;
transition: 0.2s;
text-align: center;

}
#footer-somos-btn:hover{
    color: var(--lightOrange-flybondi);
    outline:2px solid var(--lightOrange-flybondi);

}
#footer-somos-txt{
    font-size: 13px;
    font-weight: 400;    
    padding-bottom: 2em;
}

.footer-cards{
    padding-left: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 6px;

}
.footer-card-title{
font-weight: 400;
margin: 0px;
padding-bottom: 10px;
font-size: 20px;

}

.footer-card-anchor{
    color: #b3b3b3;
    text-decoration: none;
    transition: 0.2s;
    font-weight: 300;
    font-size: 16px;
}

.footer-card-anchor:hover{
    color: var(--lightOrange-flybondi);
}



#footer-ctn-redes{
    width: 100%;
    display: flex;
    gap: 30px;
    padding-inline: 2em;
    padding-top: 2em;
    display: flex;
    align-items: flex-end;
justify-content: end; 
  }

.footer-ctn-redes-anchor svg{
    scale: 1.5;
    fill: #e1e1e1;
    transition: 0.2s;
}
.footer-ctn-redes-anchor:hover svg{
    fill:var(--lightOrange-flybondi);
}

.footer-lineaDivisoria{
    background-color: rgb(137, 137, 137);
    height: 0.5px;
    margin-top: 10px;
}

#rightsFlybondi{

    text-align: center;
    height: 0px;

}
#rightsFlybondi p{
    font-weight: 300;
    font-size: 14px;
    color: #e1e1e1;
}




























    .dropdown {
      position: relative;
      width: 100%;
      justify-content: right; /* posicion del boton */
      display: none;/* display flex en mobile */
    }
  
    .burgerIcon {
      position: relative;
      width: 20px;
      height: 25px;
      cursor: pointer;
      background-color: #00000000;
      border: none;
      margin-right: 20px;
      z-index: 10;
      pointer-events: none;
    }
  
    .dropdown-menu {
      position: absolute;
      background-color: gray;
      height: 100%;
      width:100%;
      transform: translateX(120%);
      transition: 1s ease-out; /* velocidad de apertura Menu */
      top: calc(100% + 1em);
      justify-content: right;
      display: flex;
      flex-direction: column;
      z-index: 10;
    }
  
    .dropdown-closeBtn{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 55px;
      height: 45px;
      bottom: -10px;
      position: absolute;
      cursor: pointer;
      z-index: 999;
    }
  
    #dropdown-mobile:checked~.dropdown-menu {
        transform: translate( 20px);
      }

    .dropdown-closeBtn-backG {
      transition: 0.5s;
  }
  
  #dropdown-mobile { /* Quitado de estilos al checkBox */
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
    #dropdown-mobile:checked~  .dropdown-closeBtn-backG {
      position: fixed;
      background-color: #0000007b;
      cursor: pointer;
      height: 100%;
      width: 100%;
      right: 0px;
      top: 58px;
    }
  
    .btn-menu-dropdown {
    text-align: center;
      width: 100%;
      font-size: 14px;
      padding:2em 2em;
      background-color: orange;
      color: white;
      border: none;
      font-weight: bold;
      transition: 0.5s linear;
      cursor: pointer;
    outline: 1px solid;
      text-decoration: none;
    }
  
    .btn-menu-dropdown:hover{
      color: white;
      background-color: rgb(255, 140, 0);
    }
  
    .burgerIcon .bar {
      display: inline-block;
      width: 100%;
      height: 3px;
      background-color: #84c948;
      border-radius: 8px;
      position: absolute;
      top: calc(70% - 6px);
      left: 0;
      transition: all 0.5s;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }
  
    #dropdown-mobile~.burgerIcon span:first-child {
      transform: translateY(-31.5px);
      animation-name: rotate-base-1;
    }
  
    #dropdown-mobile:checked~.burgerIcon span:first-child {
      animation-name: rotate-1;
    }
  
    #dropdown-mobile~.burgerIcon span:last-child {
      transform: translateY(31.5px);
      animation-name: rotate-base-2;
    }
  
    #dropdown-mobile:checked~.burgerIcon span:last-child {
      animation-name: rotate-2;
    }
  
    #dropdown-mobile:checked~.burgerIcon span:nth-child(2) {
      opacity: 0;
      transform: scale(0);
    }
  
    /* -------------------AnimacionBurger-------------------  */
    @keyframes rotate-1 {
  
      /* X */
      0% {
        transform: translateY(-6px);
      }
  
      50% {
        transform: translateY(0);
      }
  
      100% {
        transform: rotate(-45deg);
        background-color: #ff6294;
      }
    }
  
    @keyframes rotate-base-1 {
  
      /* Y */
      0% {
        transform: translateY(0) rotate(-45deg);
        background-color: #ff6294;
      }
  
      50% {
        transform: rotate(0deg);
      }
  
      100% {
        transform: translateY(-6px);
      }
    }
  
    @keyframes rotate-2 {
  
      /* X */
      0% {
        transform: translateY(6px);
      }
  
      50% {
        transform: translateY(0);
      }
  
      100% {
        transform: rotate(45deg);
        background-color: #ff6294;
      }
    }
  
    @keyframes rotate-base-2 {
  
      /* Y */
      0% {
        transform: translateY(0) rotate(45deg);
        background-color: #ff6294;
      }
  
      50% {
        transform: rotate(0deg);
      }
  
      100% {
        transform: translateY(6px);
      }
    }
  


    @media (max-width: 891px){

        .dropdown{
            display: flex;
        }
        #nav-ctn{
            display: none;
        }


        /* -------------------Footer-------------------  */

        #footer-ctn-redes{
          justify-content: center; 
        }
    }